@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

*{
    font-family: 'pretendard';
}

.main-container{
    width: 100vw;
    height: 100vh;
    background-image: url('../../templates/cafe.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.text-container{
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
}

.text-container h4{
    color: white;
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.5em;
}

.go-order{
    background-color: #036655;
    color: #B78858;
    border-style: none;
    padding: 8px;
    width: 360px;
    height: 65px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    border-radius: 12px;
}