@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

*{
    font-family: 'pretendard';
    margin: 0;
    padding: 0;
}

.main-container{
    width: 100vw;
    height: 100vh;
    margin: 0px auto;
}

::selection{
    background: #036655;
    color: #fff;
}

.container{
    width: 100%;
    padding: 40px;
    /* border: 1px solid #e5e5e5; */
    /* padding: 40px; */
    background: #fff;
    border-radius: 12px;
    float: left;
}

  .content{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .content .list{
    display: flex;
    flex-direction: column;
    width: 110px;
    height: 20%;
    margin-right: 50px;
    position: relative;
  }

  .content .list label{
    text-align: center;
    height: 110px;
    width: 110px;
    font-weight: 500;
    line-height: 40px;
    cursor: pointer;
    transition: all 0.5s ease;
    color: #333;
    z-index: 12;
  }

  .coffee{
      position: relative;
  }

  #coffee:checked ~ .list label.coffee,
  #tea:checked ~ .list label.tea,
  #juice:checked ~ .list label.juice,
  #bakery:checked ~ .list label.bakery {
    color: #fff;
  }

  #coffee:checked ~ .list label.coffee .img-white,
  #tea:checked ~ .list label.tea .img-white,
  #juice:checked ~ .list label.juice .img-white,
  #bakery:checked ~ .list label.bakery .img-white{
    display: block;
    width:50px;
  }

  #coffee:checked ~ .list label.coffee .img-dark,
  #tea:checked ~ .list label.tea .img-dark,
  #juice:checked ~ .list label.juice .img-dark,
  #bakery:checked ~ .list label.bakery .img-dark{
    display: none;
  }

  .content .list label:hover{
    color: #036655;
  }
  .content .slider{
    position: absolute;
    left: 0;
    top: 0;
    height: 110px;
    width: 100%;
    border-radius: 12px;
    background: #036655;
    transition: all 0.4s ease;
  }
  #coffee:checked ~ .list .slider{
    top: 0;
  }
  #tea:checked ~ .list .slider{
    top: 110px;
  }
  #juice:checked ~ .list .slider{
    top: 220px;
  }
  #bakery:checked ~ .list .slider{
    top: 330px;
  }
  .content .text-content{
    width: 60%;
    height: 100%;
  }
  .content .text{
    display: none;
  }
  .content .text .title{
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 900;
  }
  .content .text p{
    text-align: justify;
  }

  .content .text-content .home{
    display: block;
  }
  
  #coffee:checked ~ .text-content .home,
  #tea:checked ~ .text-content .blog,
  #juice:checked ~ .text-content .help,
  #bakery:checked ~ .text-content .code{
    display: block;
  }

  .icon{
      position: absolute;
      left: 50%;
      margin: 0 0 0 -25px;
  }

  #tea:checked ~ .text-content .home,
  #juice:checked ~ .text-content .home,
  #bakery:checked ~ .text-content .home {
    display: none;
  }

  .content input{
    display: none;
  }
  
.img-dark{
    width: 50px;
    text-align: center;
}

.img-white {
  display: none;
}

.menu{
    width: 900px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-right: 0;
}

.box{
    margin-right: 22px;
    margin-top: 22px;
    height: 175px;
    width: 164px;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    padding: 5px;
}

.order-container{
    height: 440px;
    width: 345px;
    padding: 40px;
}

.order-info{
    border: 2px solid #e5e5e5;
    border-radius: 12px;
    width: 100%;
    height: 100%;   
    float: right;
    display: flex;
    flex-direction: column;
}

.menu-title{
    font-weight: 900;
    font-size: 16px;
    color: #333333;
    line-height: 90px;
}

.menu-price{
    font-size: 12px;
    font-weight: 700;
    color: #777777;
}

.option{
  /* border: 1px solid #e5e5e5; */
  padding: 10px;
  border-radius: 8px;
}

.temperature, .size, .requirement{
  display: block;
  margin: 10px;
}

.temperature h3, .size h3, .requirement h3 {
  float: left;
  font-weight: 400;
  font-size: 16px;
}

.temperature select, .size select {
  float: right;
  background-color: #e5e5e5;
  border: none;
  padding: 3px;
  width: 100px;
  border-radius: 4px;
}

.requirement input{
  display: block;
  width: 280px;
  padding: 10px;
  border: none;
  background-color: #e5e5e5;
}

.add-button button{
  width: 50px;
  padding: 3px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  border: 2px solid #3EB489;
  color: #3EB489;
  background-color: #fff;
  font-weight: 700;
}

.add-button button:hover{
  background: #3EB489;
  color: #fff;
  transition: 0.5s ease;
}

.caution {
  font-size: 12px;
  color: #777777;
  text-align: center;
}

@media screen and (min-width:360px) and (max-width:1024px){
  .content input{
    display: none;
  }
  .text-content{
    display: none;
  }
  
}
