@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

*{
    font-family: 'pretendard';
}

.main-container{
    width: 100vw;
    height: 100vh;
    background-image: url('../img/cafe.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.order-container {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.eat-in, .take-out{
    width: 280px;
    height: 280px;
    background: #fff;
    cursor: pointer;
    border-radius: 12px;
    position: relative;
    text-align: center;
    padding: 10px;
    
}

.img-container{
    width: 120px;
    height: 120px;
    position: relative;
    left: 50%;
    margin: 40px 0 0 -60px;
    margin-bottom: 30px;
}

.eat-in-img, .take-out-img {
    width: 100%;
    height: 100%;
    left: 50%;
}

.eat-in h4, .take-out h4{
    font-size: 20px;
    font-weight: 700;
}
.eat-in input[type='radio'], .take-out input[type='radio'] {
    float: right;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.place-form {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: repeat(2, 1fr);
}

.submit-place{
    text-align: center;
    width: 100%;
    padding-top: 10px;
    text-align: center;
}

.confirm-place {
    border: none;
    width: 500px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #3EB489;
    color: #fff;
}

#item:nth-child(3) {
    grid-column: 1 / 3;
}

/*반응형*/
@media screen and (min-width:360px) and (max-width:768px){
    .eat-in, .take-out, .confirm-place {
        width: 70%;
    }
    
}
