<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>문화상점 이문일공칠</title>
    <link rel="stylesheet" type = "text/css" href="../css/navbar.css"/>
    <link rel="stylesheet" type = "text/css" href="../css/orderlist.css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
<div class ="navbar">
    <div class = "logo-container">
        <img src="../img/logo.png" class = "logo"/>
    </div>
</div>

<div class="orderlists">
    <h3>키오스크 주문 내역</h3>
    <table>
        <thead>
        <tr class="table-header">
            <th class='corner-left-top'>주문번호</th>
            <th>주문 시간</th>
            <th>주문 가격</th>
            <th>테이크 아웃</th>
            <th class='corner-right-top'>주문 상세</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.orderDate}"></td>
            <td th:text="${order.totalPrice}"></td>
            <td th:text="${order.takeOut}"></td>
            <td class="detail-column">
                <div th:each="item : ${order.orderItemDtos}" class="order-details">
                    <div class="order-items">
                        <span th:text="${item.itemName}" class="items"></span><br/>
                        <span th:text="${item.size}"></span>
                        <span th:text="${item.temperature}"></span>
                        <span th:text="${item.count}"></span><br/>
                        <span th:text="${item.content}"></span>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="page-link-container">
        <a class="previous-page" th:if="${page > 0}" th:href="@{/orders/{page}(page=${page - 1})}"><i class="fas fa-chevron-left"></i></a>
        <span class="this-page" th:text="${page}">3</span>
        <a class="next-page" th:href="@{/orders/{page}(page=${page + 1})}"><i class="fas fa-chevron-right"></i></a>
    </div>
    <div class="go-main-container">
        <button class="go-main" onclick="window.location.href='/';">처음으로 돌아가기</button>
    </div>
</div>
</body>
</html>
